
<div class="container" style="margin-top:50px">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-2 column">
        	<h3>{{comment.date.strftime("%d/%m/%Y")}}</h3><br>        	
          	<img class="img-circle" style="max-height: 100px; max-width: 100px;" alt="140x140" src="http://lorempixel.com/140/140/"> <span class="label label-default">{{comment.author}}</span>
        </div>
        <div class="col-md-6 column">
           <!-- <span class="label label-default">Label</span> -->
           <br>
          <h3>
          	{{comment.author}} has said :
          </h3>          
          <p>
          	{{comment.content | safe}}
          </p>
        </div>
        <div class="col-md-4 column">

        </div>
      </div>
    </div>
  </div>
</div>
