<!DOCTYPE html>
<html>
    <head>

        <title>Hurb project</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="/css/bootstrap.css" rel="stylesheet">

        <link href="/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <link href="/css/datetimepicker.css" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.standalone.css" rel="stylesheet">

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-datetimepicker.js"></script>
        <script src="/js/jquery.jscroll.js"></script>



    </head>

    <body>

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">HurB !</a>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li><a href="/newtask">Enter a Task</a></li>   
                    <li><a href="/profil">Home</a></li>   
                    <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Log out</a></li> 
                {% else %}
                    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                   <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>               
                {% endif %}                      
              </ul>
            </div>
          </div>
        </nav>

        <div class="container">
            <h1> Help your bro' </h1>
            <img src="/images/Brofist-black.png" style="width:200px;height:200px">
        </div>

        {% block profil %}

        {% endblock %}


        <div id="content">            
            {% block content %}
            {% endblock %}
        </div>

        <div id="tasks">            
            {% block tasks %}
            {% endblock %}
        </div>


    </body>

</html>

