
{% extends "header.html" %}

{% block tasks %}

    <h2>enter a New Task</h2>
    <form method="post">
      
      <div class="form-group">
        <label for="title"> Title </label>
        <input type="text" name="title" value="{{title}}">{{error_title}}
      </div>

      <div class="form-group">
        <label for="description"> Description </label>
        <textarea name="description">{{description}}</textarea>{{error_description}}
      </div>

      <div class="form-group">
        <label for="date"> Date </label>
        <input type="text" id="datepicker" name="date" value="{{date}}"> {{error_date}}
          <script type="text/javascript">
            $( "#datepicker" ).datepicker();
          </script>
      </div>

      <div class="form-group">
        <label for="hour"> Hour </label>
        <div class="input-append bootstrap-timepicker">
              <input id="timepicker1" type="text" name="hour" class="input-small">
              <span class="add-on"><i class="icon-time"></i></span>
              {{error_time}}
              <script type="text/javascript">
                $('#timepicker1').timepicker();
              </script>
        </div>
      </div>

      <button type="submit" class="btn btn-default" value="submit"> Create task </button>
    </form>


    <p>{{valid_task}}</p>

{% endblock %}
