{% extends "header2.html" %}

{% block profil %}

{% if user %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="list-group">
				 <p class="list-group-item active">{{user.username}}</p>
				<div class="list-group-item">
					mail :{% if user.email %}
							{{user.email}}
						{% else %}
							not set
						{% endif %}
				</div>
				<div class="list-group-item">
					Phone : 
						{% if user.phone %}
							{{user.phone}}
						{% else %}
							not set
						{% endif %}
				</div>
				<div class="list-group-item">
					Address: 
						{% if user.address %}
							{{user.address}}
						{% else %}
							not set
						{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>			
				<div style="text-align:center;">
			   <a href="/profil/modify" class="btn btn-default" >modify</a>
			   <a  class="btn btn-default" id="sureButton">delete</a>
			   <div id="sure">
				<p> Are you sure you want to delete your account?  </p>				
				<a  href="/delete" class="btn btn-default" id="yes">yes</a>
				<a  class="btn btn-default" id="no">no</a>
			   </div>
			</div>
			</section>
		</aside>
		
		<div class="profil-area">
			<h3 class="list-group-item active" style="text-align:center;width=20em;margin-top:3em;">My Tasks</br></h3>
			{% if UserTask %}
			  {%for t in UserTask %} 
			  <p> {{t.render(username) | safe }}</p>
			  {% endfor %}
			{% endif %}
		</div>

		<div class="profil-area">
			<h3 class="list-group-item active" style="text-align:center;width=20em;margin-top:3em;">Participating Tasks</br></h3>
   			{% if participant %}
			  {%for p in participant %} 
			  <p> {{p.render(p.author) | safe }}</p>
			  {% endfor %}
			{% endif %}
		</div>


<script type="text/javascript">
    $(document).ready(function(e){
        $("#sure").hide();
        $("#sureButton").click(function(e) {
            //alert("clicked");
            $("#sure").show();
            e.preventDefault();
        });
        $("#no").click(function(e) {
            //alert("clicked");
            $("#sure").hide();
            e.preventDefault();
        });
	
    });
</script>
	{% endif %}
{% endblock %}

