{% extends "header.html" %}

{% block profil %}
	{% if user %}
		<aside class="span4">
			<section id="user_info">				
			    <div class="profil-area">
					<p>{{user.username}}</br></p>
					<p>mail : 
						{% if user.email %}
							{{user.email}}
						{% else %}
							not set
						{% endif %}
						</br>
					</p>
					<p>Phone : 
						{% if user.phone %}
							{{user.phone}}
						{% else %}
							not set
						{% endif %}
						</br>
					</p>
					<p>Address: 
						{% if user.address %}
							{{user.address}}
						{% else %}
							not set
						{% endif %}
						</br>
					</p>
			   	</div>
			   <a href="/profil/modify" class="btn btn-default">modify</a>
			   <a  class="btn btn-default" id="sureButton">delete</a>
			   <div id="sure">
				<p> Are you sure you want to delete your account?  </p>
				<a  href="/delete" class="btn btn-default" id="yes">yes</a>
				<a  class="btn btn-default" id="no">no</a>
			   </div>
			</section>
		</aside>
		
		<div class="profil-area">
			<h3>My Tasks</br></h3>
			{% if UserTask %}
			  {%for usertask in UserTask %} 
			  <p> {{usertask.title}}</p>
			  {% endfor %}
			{% endif %}
		</div>
<script type="text/javascript">
    $(document).ready(function(e){
        $("#sure").hide();
        $("#sureButton").click(function(e) {
            //alert("clicked");
            $("#sure").show();
            e.preventDefault();
        });
        $("#no").click(function(e) {
            //alert("clicked");
            $("#sure").hide();
            e.preventDefault();
        });
	
    });
</script>
	{% endif %}
{% endblock %}

