
<li class = "task">
  <div class="jumbotron" style="padding:15px; margin:15px;border:1px;border-style:solid;">
    <div class="task_header">
      <h2>{{t.title}} : <br><small>  Published by {{t.author}}</small></h2>       
    </div>

    <div class="container-fluid">
        <h3>Description : </h3><br>
                <h4>
                  <textarea style="resize:none;margin:10px;padding:10px;width: 100%; height: 100%;" readonly>{{t._render_text | safe}}</textarea>
                </h4>

        <p class="text-right">Scheduled on {{t.date.strftime("%d-%m-%Y %H:%M")}}</p>
    </div>

    <div class="container-fluid">
      <form method="Post" name="task_interract">

         <div id="interaction_btn">
            <button type="submit" class="btn btn-default" value="comment" name="comment">Comment !</button>
            <button type="submit" class="btn btn-default" value="participate" name="participate">Participate !</button>
            <div style="clear:both"></div><!-- Need this to have the buttons actually inside div#buttons -->
        </div>
      </form>
    </div>
  </div>

</li>


