{% extends "header.html" %}

{% block tasks %}
  
  
  {{task.render(username) | safe}}

      <div class="container" style="margin-top:20px">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="row clearfix">
            <div class="col-md-2 column">
              <label for="location"> Location </label>
                <form>
                {{task.location_lat}}
                <input id="location_lat" type="hidden" name="location_lat" value="{{task.location_lat}}"/> 
                {{task.location_lng}}
                <input id="location_lng" type="hidden" name="location_lng" value="{{task.location_lng}}"/>
                </form>
            </div>
            <div class="col-md-8 column">    
              
                <div id="map" style="width: 500px; height: 500px; position: relative;">
                     <div id="map-canvas" style="width:500px;height:500px;"></div>
                </div>
            </div>
             

            <div class="col-md-2 column">
              &nbsp;
            </div>

          </div>
        </div>
      </div>
    </div>

  <br/>


  	{% if task.getNumberOfComments(task.key().id()) > 0 %}

	  	<div class="container" style="margin-top:50px">
	  		<h3>Comments :</h3>
		  <div class="row clearfix">
		    <div class="col-md-12 column">
		      <div class="row clearfix">
		        
		      </div>
		    </div>
		  </div>
		</div>


		  {% for c in comments %}
		  	{% if c.gettaskid() == task.key().id() %}
		  		{{c.render() | safe}}


		  		<div class="container" style="margin-top:50px">
				  <div class="row clearfix">
				    <div class="col-md-12 column">
				      <div class="row clearfix">
				        <div class="col-md-8 column" style="border-right: solid 1px grey">       	
		        		</div>
		        		<div class="col-md-4 column">
		        			{% if user.username == c.author or user.username == task.author %}
		        				<a class="btn btn-default" onclick=""> Delete Comment </a>
		        			{% endif %}
		        			
		        		</div>
				      </div>
				      <div class="row clearfix">
				        <hr/>
				      </div>
				    </div>
				  </div>
				</div>

		  	{% endif %}
		  {% endfor %} 
	{% endif %}


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
function initialize() {
  var location_lat = Number($('#location_lat').val());
  var location_lng = Number($('#location_lng').val());
  var myLatlng = new google.maps.LatLng(location_lat,location_lng);
  var mapOptions = {
    zoom: 14,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
